<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Items</title>
</head>
<body>
 <form action = "http://localhost:5000/showitems" method = "POST">
     <h3>Item Name <input type = 'text' name = 'Item Name'/></h3>
     <h3>Item Id <input type='text' name = 'Item ID'/></h3>
     <h3>Quantity <input type='text' name = 'Quantity'/></h3>
     <h3>Price <input type = 'text' name = 'Price'/></h3>
     <h3><input type='submit' value='submit'/></h3>
 </form>
</body>
</html>
